<h1>
  Random Results
</h1>

<%
user_min = params.fetch("user_min").to_f
user_max = params.fetch("user_max").to_f
%>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%= params.fetch("user_min")%>
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    <%= params.fetch("user_max")%>
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
    <%= rand(user_min..user_max) %>
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>
